@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');


h1 {
    font-family: 'Montserrat', sans-serif;

}
body {
    font-family: 'Montserrat', sans-serif;

}
:root {
    --size: 1rem;
}
.fixed {
    display: flex;
    font-family:  'Montserrat', sans-serif;
    background-color: #f1f1f1;
    justify-content: space-between;
    padding: var(--size);
    gap: var(--size);
}

.fixed a {
    color: #212429;
    text-decoration: none;
    padding: .5rem var(--size);

}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size);
    padding: var(--size);
    
}

.content div {
    padding: var(--size);
    text-align: center;
   
}

.navbar {
    display: flex;
    font-family:  'Montserrat', sans-serif;
    background-color: #212429;
    justify-content: space-between;
    padding: var(--size);
    gap: var(--size);

}

.navbar a {
    color: #f1f1f1;
    text-decoration: none;
    padding: .5rem var(--size);
}
